* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2 {
    font-size: 33px;
}

h3 {
    font-size: larger;
}

h5 {
    font-size: medium;
}

p {
    font-size: smaller;
}

/* Header */

.header {
    height: 69px;
    padding: 10px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 50px;
}

.header ul {
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-item {
    margin-left: 20px;
}

/* Mission Section */

.mission-container {
    display: flex;
    align-items: center;
    height: 700px;
    width: 1200px;
    background-image: url(../images/img-mission-background.webp);
    margin: 0 auto;
    margin-bottom: 55px;
    position: relative;
}

.mission-banner h2, h4 {
    width: 1200px;
    margin: 10px auto;
}

/* Featured Teas Section */

.featured-container {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 55px;
}

.featured-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.featured-photos img {
    height: 200px;
    width: 300px;
    margin: 10px 10px;
}

/* Locations Section */

.locations-container {
    background-image: url(../images/img-locations-background.webp);
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-position: center top;
    margin-bottom: 11px;
}

.locations-container h2 {
    width: 1200px;
    height: 30px;
    background-color: transparent;
    margin-bottom: 15px;
    font-size: 40px;
}

.downtown, .bayside, .oakdale {
    width: 300px;
    height: 300px;
    margin: 15px 20px;
    opacity: 1;
}

.locations-container h3, p {
    padding: 23px 0;
}

/* Footer & Copyright Sections*/

.footer {
    height: 200px;
    margin: 0 auto;
}

.footer h2, h5 {
    padding: 20px 0;
}

.copyright {
    text-align: left;
    margin-left: 20px;
}

/* Places That Need Improvement:
1. I had to manually change the font-size of the h2 headings
2. The spacing on the bottom two featured tea pics is too big
3. I can't see the bottom of the locations background pic without increasing
    the height to greater than 500px. */




